* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  text-rendering: optimizeLegibility;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

/*********************************************************
 * Reusables
 *********************************************************/
.thumbnail {
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: #37479e solid 2px;
}
.dialog{
  position: absolute;
  width: 50%;
  top: 30%;
  left: 25%;
  right: 25%; 
  z-index: 999999;
}
 .form-group {
  color: #fff;
}

.box {
  margin-right: 100%;
}

.icon {
  vertical-align: middle;
  color: #ffffff;
}

/** Style for logged in user data container */
.setup {
  margin-left: -140px;
  background-color: #1a1818;
  color: #ffffff;
  text-align: center;
  max-width: 200px;
}

.setup a {
  text-decoration: none;
  font-size: 80%;
  letter-spacing: 2px;
}

.setup a:hover {
  color: #7b87c9 !important;
}

.media-nav:first-child, 
.media-nav:nth-child(2) {
  border-right: 2px solid #090b88;
}

.social-media-nav a:hover{
  background-color: #0d208a;
  color: #ffffff;
  font-weight: 500;
  border-radius: 20px;
}

.active-media-nav {
  background-color: #0d208a;
  color: #ffffff;
  font-weight: 500;
  border-radius: 20px;
}

/******* The media-container style ****/
.media-container {
  height: 81.82vh;
  background-color: #000000;
}

.hero-text {
  text-align: center;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.747);
  border-radius: 20px;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********BackgroundColors*****/
.x-bg-dark {
  background-color: #000000;
}


/******** body style ********/
.body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/core/img/depositphotos_52461611-stock-photo-business-people-silhouettes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 90vh;
  margin-top: -12px;
  width: 100%;
}

/******************************************
 * Nav Styles
 ******************************************/
.nav--bg {
  background-color: #000000;
  color: #bf4d35 !important;
  /* z-index: 9999999; */
}

.nav--bg ul li {
  margin-left: 3px;
  margin-bottom: 5px;
}

.nav--bg ul li a {
  font-weight: 600;
  color: #ffffff !important;

}

/**
 * Styles for chat frame
 *
 *
 */
.chat-box-panel {
  position: relative;
  font-size: 80%; 
  width: 60%;
  margin: 0 auto;
}

#chat-panel {
  height: 73vh;
  width: 100%;
  background-color: inherit;
  color: white;
  overflow: scroll;
}

.message-sender-panel {
  /* position: fixed; */
  padding: 5px;
}

.message {
  background-color: #0e57f5;
  width: 100%;
  border-radius: 50px;
  padding: 10px 15px;
}
.message-box { 
  margin-bottom: 20px;
  max-width: 100%;
}

.message-box>img, .message-box>div {
  display: inline;
}

.no-message {
  color: #3f3e3e;
}

.user {
  margin-left: 60%;
}

.friend {
  margin-right: 60%;
}

.chat-thumbnail {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}


/******************************************
 * Register Form Styles
 ******************************************/
#register {
  font-size: 70%;
}
#login {
  font-size: 70%;
}
.statusBox {
  width: 40px;
  height: 40px;
  right: 25px;
  position: absolute;
  text-align: center;
  padding-top: 7px;
}

#userNameStatusBox {
  top: 55px;
}

#emailStatusBox {
  top: 153px;
}

#passwordStatusBox {
  top: 250px;
}

#confirmPasswordStatusBox {
  top: 349px;
}

/** Media styles*/
.list{
  height: 80vh;
  width: 60%;
  margin: 0px auto;
  border-left: 2px solid #3f3e3e;
  background-color: inherit;
  overflow-y: scroll;
  color: white;
  text-align: center;
}
.my-friends {
  padding: 10px;
  width: 90%;
}
.no-friend {
  color: #3f3e3e;
  font-weight: 500;
  text-align: center;
}

.friend-link {
  text-decoration: none;
  color: #fff;
  padding: 15px 30px;
}
.friend-link:hover {
  text-decoration: none;
  font-weight: 400 !important;
}
.user-name-text {
  display: inline;
  margin-left: 50px;
}

/****** friends-search style*/
.friends-search{
  width: 70%;
  margin: 10px auto;
}

.search-results {
  width: 100%;
  text-align: left !important;
  margin-top: 13px !important;
  font-size: 100%;
}

.search-results a {
  padding: 10px;
  text-decoration: none;
}


/****************************************************
  * Media Rules
  ****************************************************/
  @media screen and (max-width: 450px) {
    .list {
      width: 100%;
      border: none;
      height: 65vh;
    }
  
    #chat-panel {
      
    }
  
    .message-sender-panel #message {
      margin-bottom: 5px;
    }
  }