<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="xraytalk, a social media app where users can chat and meet new friends." />
  <meta name="keyword" content="xraytalk, socialmedia, app, application, chat, chatting, friend, friends, meeting, conversation" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" type="text/css" href="/vendors/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/vendors/css/ionicons.min.css" />
  <link rel="stylesheet" type="text/css" href="/core/css/styles.css" />

  <script type="text/javascript" src="/vendors/js/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="/vendors/bootstrap/js/bootstrap.js"></script>

  <title>{{pageTitle}}</title>
</head>

<body>
  {{>_nav}}
  {{>_page_msg}}
  {{{body}}}
</body>

</html>